{% extends "tryggve/index.html" %}

{% block content %}
<div class="container">
    <style>
        .img-thumbnail {
        border: 0;
        width: 250px;
        height: 200px;
        }
    
      </style>
    <div class="row">
      <div class="col-sm">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/800px-Flag_of_Denmark.svg.png" class="rounded float-left img-thumbnail" alt="...">
      </div>
      <div class="col-6">
        <H1>THIS IS DENMARK</H1>
        here is where the main text about the collaboration in denmark would go.
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>

{% endblock content %}