{% extends "tryggve/index.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/800px-Flag_of_Denmark.svg.png" class="rounded float-left img-thumbnail country-flag" alt="...">
      </div>
      <div class="col-6 text-center">
        <h1> Denmark</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi facere aspernatur quaerat, nostrum voluptatum voluptatem. Fugit illo eveniet, ipsam, eius in, architecto sed magni blanditiis officiis eligendi doloremque dolorum nulla.
      </div>

    </div>
  </div>

{% endblock content %}