{% extends "tryggve/index.html" %}

{% block content %}
<div class="container">
    <style>
        .img-thumbnail {
        border: 0;
        width: 250px;
        height: 200px;
        }
    
      </style>
    <div class="row">
      <div class="col-sm">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQcAAAC/CAMAAADEm+k5AAAARVBMVEW6DC8AIFv///8AAFGwtMK4ACPUhI4AAE4ADFTKzdaLkae4ACbMZ3S3ABzirrQADlQAFlfKYm+1AAjfpazszNDSfohgaYkMiZWHAAABrklEQVR4nO3byUpDQRBA0Weco3HW//9UhbvQRQQDFcjDc9YN1dxlN7UsI+7uN99ur8/2udn+OPOwmxl8YnSIDtEhOkSH6BAdokN0iA7RITpEh+gQHaJDdIgO0SE6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh+gQHaJDdIgO0SE6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh+gQHaJDdIgO0SE6ZP0dLkfsng/t8DIzeMpyNeP1wA5v70ODhyybeX/pcGp0iA7RITpEh+gQHaJDdIgOWS7mbR/3dnj6OMKsKcv5vP0ZvkIcYdaU5Zc7/zc6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh+gQHeK9Ov4v4j8rOkSH6BAdokN0iA7RITpEh9i/iH2cDG03rX8/a4YO0SE6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh+gQHaJDdIgO0SE6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh+gQHaJDdIgO0SE6RIfoEB2iQ3SIDtEhOkSH6BAdokN0iA7RITpEh6y+wye6aLeOyne8QwAAAABJRU5ErkJggg==" class="rounded float-right img-thumbnail" alt="...">
      </div>
      <div class="col-sm">
        <H1>Here is Norway</H1>
        here is where the main text about the collaboration in Sweden would go.
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
{% endblock content %}

