{% extends "tryggve/index.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAAHlBMVEUAaqf+zAD/0QAAaKlPfJZggpAAZqpdgZFKepiBj4EDfUmrAAABn0lEQVR4nO3ay43CUBBFwYc9/PJPeIig8IKWkDmVQKvP+q41Y79ul3e26z50/csVB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYFzxNln3O4H4txvQ9c/ZP3NeDwPxHk+hq5/yNqmvG3zqvPl1oEfflZxoDhQHCgOFAeKA8WB4kBxoDhQHCgOFAeKA8WB4kBxoDhQHCgOFAeKA8WB4kBxoDhQHCgOFAeKA8WB4kDLLmgTCK1JYWzBe4od8pDiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOFAcKA4UB4oDxYHiQHGgOHCKOP/ItlPLsoEE4gAAAABJRU5ErkJggg==" class="rounded float-right img-thumbnail" alt="...">
      </div>
      <div class="col-sm">
        <H1>THIS IS Sweden</H1>
        here is where the main text about the collaboration in Sweden would go.
        Praesent rhoncus interdum leo, vel porttitor ligula. Aenean sodales massa id orci lacinia tincidunt. Fusce quam sem, convallis vitae mi non, finibus molestie ligula. Sed in urna in lorem fringilla sodales in vel ante. Quisque laoreet sapien in diam cursus, non eleifend tortor volutpat. Maecenas feugiat ut felis id egestas. Nunc laoreet velit at mi ultricies pharetra. Quisque nec tellus euismod, tristique nisi et, blandit metus. Integer vel vehicula tellus. Morbi vel mollis elit. Nunc ante odio, maximus nec sapien nec, porttitor porta risus. Duis sit amet ex non nulla aliquet lacinia.
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
{% endblock content %}